<div data-layer="Frame 1000003962" class="Frame1000003962" style="width: 727px; left: 47px; top: 33px; position: absolute; justify-content: space-between; align-items: center; display: inline-flex;">
  <div data-layer="Frame 1670" class="Frame1670" style="justify-content: flex-start; align-items: center; gap: 10px; display: flex;">
    <div data-layer="Frame 1668" class="Frame1668" style="width: 110px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;">
      <a href="https://postimg.cc/7f9T9mMj" target="_blank">
        <img src="https://storage.googleapis.com/datamedconnect/logoblue.png" width="154" height="37" alt="logo" />
      </a>
    </div>
  </div>
  <div data-layer="Frame 1000003960" class="Frame1000003960" style="width: 244px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex;">
    <div data-layer="Contact Commercial : Molka BEN AYED" class="ContactCommercialMolkaBenAyed" style="width: 266px; justify-content: center; display: flex; flex-direction: column; color: black; font-size: 12px; font-family: Montserrat; font-weight: 400; line-height: 14.45px; word-wrap: break-word;">Contact Commercial : Molka BEN AYED</div>
    <div data-layer="molka@consultingdatamed.com" class="MolkaConsultingdatamedCom" style="width: 266px; justify-content: center; display: flex; flex-direction: column; color: #02B2E1; font-size: 12px; font-family: Montserrat; font-weight: 400; line-height: 14.45px; word-wrap: break-word;">molka@consultingdatamed.com</div>
    <div data-layer="+33 6 15 72 53 43" class="PhoneNumber" style="width: 266px; justify-content: center; display: flex; flex-direction: column; color: black; font-size: 12px; font-family: Montserrat; font-weight: 400; line-height: 14.45px; word-wrap: break-word;">+33 6 15 72 53 43</div>
  </div>
</div>